
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #f1f1f1;
    background-color: grey
    ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: black;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: lightgray;
  }